body {
  font-family: 'Karla', sans-serif;
  background-color: #F8F4E4; }

/* =========== SECTION 1 STYLES ================== */
.main-navigation {
  position: absolute;
  margin: 0px auto;
  width: 415px;
  margin: auto;
  bottom: 0%; }
  .main-navigation a {
    width: 50px;
    height: 40px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    font-size: 2em;
    margin: 0px; }

.section-1 {
  margin: 0px;
  background-color: #0CA5B0;
  height: 600px;
  width: 100%;
  background-image: url("../img/green_pentagon.png");
  background-attachment: fixed; }

.section-1::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(180, 240, 200, 0.6);
  height: 100%;
  width: 100%; }

.section-2 {
  height: 1000px; }

.section-3 {
  height: 1000px; }

.section-4 {
  height: 1000px; }

.section-5 {
  height: 1000px; }

.title-wrapper {
  width: 900px;
  margin: 0px auto;
  position: relative;
  webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  top: 50%; }

.main-header {
  position: relative;
  margin: 0px 0px 5px 0px;
  text-align: center;
  border: 5px solid white;
  padding: 10px;
  color: white; }

.main-subheader {
  text-align: center;
  color: white; }

.arrow {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform: translate(-50px, -50px);
  -moz-transform: translate(-50px, -50px);
  top: 100%;
  left: 100%;
  font-size: 3em;
  color: white;
  background-color: rgba(255, 255, 255, 0.5); }
  .arrow span {
    -webkit-transition: transform 0.5s ease; }
  .arrow:hover {
    color: rgba(255, 255, 255, 0.7); }

.arrow_down {
  color: blue;
  -webkit-transform: rotateZ(180deg);
  -webkit-transform-origin: center center;
  -moz-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg); }
