body {
  font-family: 'Karla', sans-serif;
  background-color: #F8F4E4; }

/* =========== SECTION 1 STYLES ================== */
.section-1 {
  margin: 0px;
  background-color: #0CA5B0;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(12, 165, 176, 0.6), rgba(12, 165, 176, 0.6)), url("../img/green_pentagon.png");
  background-attachment: fixed; }

/* This section was removed because the gradient does the same thing
.section-1::before {
	content: "";
	display: inline-block;
	position: absolute;
	background-color: rgba(12,165,176,0.6);
	height: inherit;
	width: inherit;
}
*/
.title-wrapper {
  width: 70%;
  margin: 0px auto;
  position: relative;
  top: 30%; }

.main-header {
  position: relative;
  margin: 0px 0px 5px 0px;
  text-align: center;
  border: 5px solid #fefeeb;
  padding: 30px 0px;
  color: #fefeeb; }

.main-subheader {
  text-align: center;
  color: white; }

.main-navigation {
  position: absolute;
  bottom: 0;
  margin: 0px auto;
  padding: 20px;
  width: 100%; }
  .main-navigation a {
    position: relative;
    padding: 10px;
    width: 300px;
    color: #fefeeb;
    font-size: 2em;
    margin: 0px; }
    .main-navigation a:hover {
      text-decoration: none;
      border-radius: 15px;
      background-color: rgba(254, 254, 235, 0.6);
      color: #4e3f30;
      -webkit-transition: .3s ease; }
    .main-navigation a:link {
      text-decoration: none; }

.arrow_down {
  display: inline-block;
  position: absolute;
  right: 20px;
  padding: 20px;
  font-size: 3em;
  color: #fefeeb;
  /* animations */
  -webkit-transition: 0.5s ease;
  -webkit-transform-origin: 50% 50%;
  z-index: 100; }
  .arrow_down:hover {
    color: rgba(255, 255, 255, 0.6); }

.arrow_up {
  color: #4e3f30;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .arrow_up:hover {
    color: #807162; }

/* =========== End Section 1 ================ */
/* ============= Section 2 Styles ===================== */
.section-2 {
  position: relative;
  padding: 50px 0px;
  font-size: 1em;
  color: #4E3F30; }
  .section-2 h1 {
    display: block;
    width: 200px;
    padding: 10px;
    border-bottom: 5px solid #0ca5b0;
    margin-bottom: 50px; }

.resume-link {
  position: relative;
  display: block;
  text-align: center;
  width: 200px;
  color: #0ca5b0;
  border: 5px solid #0ca5b0;
  padding: 10px;
  font-size: 1.5em; }
  .resume-link:hover {
    text-decoration: none;
    color: #34cdd8; }

/* =================== End Section 2 ========================= */
/* ============== Section 3 Styles Projects ================== */
.section-3 {
  padding: 50px 0px;
  font-size: 1.5em; }
  .section-3 h1 {
    display: block;
    width: 300px;
    padding: 10px;
    border-bottom: 5px solid #0ca5b0;
    margin-bottom: 50px; }

.project-item {
  overflow: hidden;
  position: relative;
  display: block; }
  .project-item img {
    position: relative; }
  .project-item:hover > .project-item-description {
    background-color: rgba(78, 63, 48, 0.9);
    color: #FEFEEB;
    -webkit-transition: 0.5s ease;
    -webkit-transform: translateY(-100%); }

.project-item-description {
  /* important attributes */
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  width: calc(100% - 30px);
  position: absolute;
  box-sizing: border-box;
  margin-left: 15px;
  left: 0px;
  right: 0px;
  padding: 20px;
  height: 100%; }
  .project-item-description p {
    font-size: 1.5rem; }
  .project-item-description center {
    padding-top: 30px; }
  .project-item-description center a {
    border: 2px solid #FEFEEB;
    padding: 10px; }

/* ================ Section 3 Styles End ============== */
/* ========= Section 4 Styles =================== */
.section-4 {
  position: relative;
  background-color: #4E3F30;
  color: #F8F4E4;
  padding: 50px 100px;
  font-size: 2em;
  height: 50vh;
  width: 100%; }
  .section-4 h1 {
    font-size: 2em; }

/* ================= Section 4 Styles end =============== */
/* Keyfram animations 

@-moz-keyframe animation_name {
	
	from: {top: 10px;}
	to: {left: 20px;}
}

*/
/* ==================== Media Queries ==================== */
@media screen and (max-width: 766px) {
  .title-wrapper {
    width: 100%; }

  .main-navigation a {
    display: block; }
  .main-navigation .arrow_down {
    display: none; } }
@media screen and (max-width: 991px) {
  .project-item {
    margin-top: 30px; } }
