body {
  font-family: 'Karla', sans-serif;
  background-color: #F8F4E4; }

/* =========== SECTION 1 STYLES ================== */
.section-1 {
  margin: 0px;
  background-color: #0CA5B0;
  height: 100vh;
  min-height: 700px;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(12, 165, 176, 0.6), rgba(12, 165, 176, 0.6)), url("../img/green_pentagon.png");
  background-attachment: fixed; }

/* This section was removed because the gradient does the same thing
.section-1::before {
	content: "";
	display: inline-block;
	position: absolute;
	background-color: rgba(12,165,176,0.6);
	height: inherit;
	width: inherit;
}
*/
.title-wrapper {
  width: 70%;
  margin: 0px auto;
  position: relative;
  top: 30%; }

.main-header {
  position: relative;
  margin: 0px 0px 5px 0px;
  text-align: center;
  border: 5px solid #fefeeb;
  padding: 30px 0px;
  color: #fefeeb; }

.main-subheader {
  text-align: center;
  color: white; }

.main-navigation {
  position: absolute;
  bottom: 0;
  margin: 0px auto;
  padding: 20px;
  width: 100%; }
  .main-navigation a {
    position: relative;
    padding: 10px;
    width: 300px;
    color: #fefeeb;
    font-size: 2em;
    margin: 0px; }
    .main-navigation a:hover {
      text-decoration: none;
      border-radius: 15px;
      background-color: rgba(254, 254, 235, 0.5);
      color: #4e3f30;
      -webkit-transition: .3s ease; }
    .main-navigation a:link {
      text-decoration: none; }

.arrow {
  display: inline-block;
  position: absolute;
  right: 20px;
  padding: 20px;
  font-size: 3em;
  color: #fefeeb;
  /* animations */
  -webkit-transition: 0.5s ease;
  -webkit-transform-origin: 50% 50%; }
  .arrow:hover {
    color: rgba(255, 255, 255, 0.7); }

/* =========== End Section 1 ================ */
/* ============= Section 2 Styles ===================== */
.section-2 {
  height: 1000px;
  padding: 50px 100px;
  font-size: 2em; }

.resume-link {
  color: #0ca5b0;
  border: 5px solid #0ca5b0;
  padding: 10px;
  border-radius: 20px; }
  .resume-link:hover {
    text-decoration: none;
    color: #34cdd8; }

/* =================== End Section 2 ========================= */
/* ============== Section 3 Styles ================== */
.section-3 {
  height: 1000px;
  padding: 50px 100px;
  font-size: 1.5em; }

.project-item {
  margin-top: 100px;
  border-top: 1px solid black;
  padding: 50px; }

img {
  width: 500px;
  height: 500px; }

/* ================ Section 3 Styles End ============== */
.section-4 {
  height: 1000px;
  padding: 50px 100px;
  font-size: 2em; }

.arrow_up {
  color: #4e3f30;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .arrow_up:hover {
    color: #807162; }

/* Keyfram animations 

@-moz-keyframe animation_name {
	
	from: {top: 10px;}
	to: {left: 20px;}
}

*/
/* media queries */
@media screen and (max-width: 766px) {
  .title-wrapper {
    width: 100%; }

  .main-navigation a {
    display: block; }
  .main-navigation .arrow {
    display: none; } }
