body {
	font-family: 'Karla', sans-serif;
	background-color: #F8F4E4;
}


/* =========== SECTION 1 STYLES ================== */

.section-1 {
	margin: 0px;
	background-color: #0CA5B0;
	height: 600px;
	width: 100%;
	position: relative;

	background-image:url("../img/green_pentagon.png");
	background-attachment: fixed;
}

.section-1::before {
	content: "";
	display: inline-block;
	position: absolute;
	background-color: rgba(12,165,176,0.6);
	height: inherit;
	width: inherit;
}

.title-wrapper {

	width: 900px;
	margin: 0px auto;

	position: relative;

	webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	top:50%;
}

.main-navigation {

	position: absolute;
	bottom: 0%;

	margin: 0px auto;
	padding: 7px;

	width: 100%;
	
	a {
		position: relative;

		padding: 10px;
		width: 50px;
		height: 40px;
		color: white;
		background-color: rgba(78,63,48,0.6);
		font-size: 2em;
		margin: 0px;

		&:hover {
			text-decoration: none;
		}
	}	
}

.arrow { 

	display: inline-block;
	position: absolute;
	height: 50px;
	width: 50px;

	-webkit-transform: translate(-50px, -50px);
	-moz-transform: translate(-50px, -50px);
	transform: translate(-50px, -50px);

      top: 100%;
      left: 100%;


	font-size: 3em;
	color: white;

	background-color: rgba(255,255,255,0.5);

	span {
	-webkit-transition: transform 0.5s ease;
	
	}
	
	&:hover {

		color: rgba(255,255,255,0.7);
	}

}

/* =========== End Section 1 ================ */

.section-2 {
	height: 1000px;
}

.section-3 {
	height: 1000px;
}


.section-4 {
	height: 1000px;
}

.section-5 {
	height: 1000px;
}





.main-header {
	
	position: relative; 
	margin: 0px 0px 5px 0px;
	text-align: center;
	border: 5px solid white;
	padding: 10px;


	color: white;
}

.main-subheader {
	text-align: center;
	color: white;
}



.arrow_down { 

	color: blue;
	-webkit-transform: rotateZ(180deg);
	-webkit-transform-origin: center center;

	-moz-transform: rotateZ(180deg);
	-moz-transform-origin: center center;

	transform: rotateZ(180deg);
	transform-origin: center center;
	
}

/* Keyfram animations 

@-moz-keyframe animation_name {
	
	from: {top: 10px;}
	to: {left: 20px;}
}

*/